* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.pane-content {
  background-color: gray;
}

.splitter {
  background-color: "#939393";
  position: relative;
  top: 50%;
}